/* CSS Reset Rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* End of CSS Resrt */

/* Header Styles */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 20vh;
}

header + * {
    margin-top: 20vh;
}

header img {
    width: 100px;
    height: auto;
    border-radius: 75%;
    margin-left: 10rem;
}

header nav ul {
    display: flex;
    margin-right: 10rem;
    align-items: center;
}

header nav ul li {
    margin-right: 1rem;
    font-size: 1.4rem;
}

header nav ul a {
    color: #000;
    font-weight: bold;
}

header nav a:hover {
    color: #444;
}

/* End of Header Styles */

/* Footer Styles */

footer {
    background-color: #f0f0f0;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

footer p {
    color: #333;
    font-size: 0.8rem;
    margin-left: 10rem;
}

footer ul {
    display: flex;
    margin-right: 10rem;
}

footer ul li {
    margin-right: 1rem;
}

footer ul a {
    color: #000;
    font-weight: bold;
}

footer ul a:hover {
    color: #444;
}

/* End of Footer Styles */

/* Hero Styles */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    margin-top: 10vh;
}
.hero h1 {
    font-size: 3rem;
    margin-left: 10rem;
}

.hero img {
    width: 500px;
    height: auto;
    margin-right: 10rem;
    border-radius: 50px;
}

/* End of Hero Styles */
